<div id="footer" data-animate="fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <h4>Páginas</h4>

                <ul>
                    <li *ngFor="let elem of footerContent">
                      <a *ngIf="elem.content" [routerLink]="['/content', elem.id]">
                        {{elem.name}}
                      </a>
                      <a *ngIf="!elem.content" href="javascript:void(0)">{{elem.name}}</a>
                    </li>
                </ul>
            </div>
            <!-- /.col-md-3 -->

            <div class="col-md-4 col-sm-6">

                <h4>Dónde encontrarnos</h4>

                <p>
                  <strong>{{contactInfo.name}}</strong>
                  <br>{{contactInfo.address}}
                  <br>{{contactInfo.city}} ({{contactInfo.zip}}), {{contactInfo.province}}
                  <br><strong>{{contactInfo.country}}</strong>
                </p>

                <hr class="hidden-md hidden-lg">

            </div>
            <!-- /.col-md-3 -->



            <div class="col-md-4 col-sm-6">
                <h4>Contáctanos</h4>

                <div class="social">
                    <div style="vertical-align:middle;">
                        <a href="javascript:void(0)" class="gplus external" data-animate-hover="shake"><i class="fa fa-phone"></i></a>
                        <span style="line-height: 30px;"><b>{{contactInfo.phone}}</b></span>
                    </div>
                    <div style="vertical-align:middle;">
                        <a href="mailto:{{contactInfo.email}}" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
                        <span style="line-height: 30px;"><a href="mailto:{{contactInfo.email}}" style="color: #ff6f02; background-color: transparent;">{{contactInfo.email}}</a></span>
                    </div>
                    <div style="vertical-align:middle;">
                        <a href="{{contactInfo.facebook}}" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                        <a href="{{contactInfo.facebook}}" style="display:inline; color: #4460ae; background-color: transparent;line-height: 30px;"><b>{{contactInfo.name}}</b></a>
                    </div>
                </div>


            </div>
            <!-- /.col-md-3 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>
<!-- /#footer -->
