<div id="footer" data-animate="fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <h4>Páginas</h4>

                <ul>
                    <li *ngFor="let elem of footerContent">
                      <a *ngIf="elem.content" [routerLink]="['/content', elem.id]">
                        {{elem.name}}
                      </a>
                      <a *ngIf="!elem.content" href="javascript:void(0)">{{elem.name}}</a>
                    </li>
                </ul>
            </div>
            <!-- /.col-md-3 -->

            <div class="col-md-4 col-sm-6">

                <h4>Dónde encontrarnos</h4>

                <p>
                  <strong>{{contactInfo.name}}</strong>
                  <br>{{contactInfo.address}} - {{contactInfo.zip}}
                  <br>{{contactInfo.province}}
                  <br><strong>{{contactInfo.country}}</strong>
                </p>

                <a href="mailto:{{contactInfo.email}}">{{contactInfo.email}}</a>

                <hr class="hidden-md hidden-lg">

            </div>
            <!-- /.col-md-3 -->



            <div class="col-md-4 col-sm-6">
                <h4>Contáctanos</h4>

                <p class="social">
                    <a href="#" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
                </p>


            </div>
            <!-- /.col-md-3 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</div>
<!-- /#footer -->
