<div id="content">
    <div class="container" *ngIf="product">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li>
                  <a [routerLink]="['/home']">Inicio</a>
                </li>
                <li *ngIf="section">
                  <a [routerLink]="['/catalog/section', product.sub_category?.root_category]">
                    {{section.name}}
                  </a>
                </li>
                <li *ngIf="category">
                  <a [routerLink]="['/catalog/section', product.sub_category?.root_category, 'category', product.sub_category?.category]">
                    {{category.name}}
                  </a>
                </li>
                <li *ngIf="subcategory">
                  <a [routerLink]="['/catalog/section', product.sub_category?.root_category, 'category', product.sub_category?.category, 'sub-category', product.sub_category?.id]">
                    {{subcategory.name}}
                  </a>
                </li>
                <li>{{product.name}}</li>
            </ul>

        </div>

        <div class="col-md-3">

            <side-nav [section]="section"
                      [category]="product.sub_category.category"
                      [subcategory]="product.sub_category.id">
            </side-nav>

            <div class="banner">
                <a href="#">
                    <img src="/assets/images/banner.jpg" alt="sales 2014" class="img-responsive">
                </a>
            </div>
        </div>

        <div class="col-md-9">

            <div class="row" id="productMain" product-detail>
                <div class="col-sm-6">
                    <div id="mainImage">
                        <img *ngIf="product.images" src="{{product.images[0].image}}" alt="" class="img-responsive" style="width: 100%;">
                    </div>

                    <div class="ribbon sale" *ngIf="product.current_offer">
                        <div class="theribbon">OFERTA</div>
                        <div class="ribbon-background"></div>
                    </div>
                    <!-- /.ribbon -->

                    <!--
                    <div class="ribbon new">
                        <div class="theribbon">NEW</div>
                        <div class="ribbon-background"></div>
                    </div>
                    -->
                    <!-- /.ribbon -->

                </div>
                <div class="col-sm-6">
                    <div class="box">
                        <h1 class="text-center">{{product.name}}</h1>
                        <p class="goToDescription"><a href="javascript:void(0)" scroll-to="#details">Ver detalles del producto, materiales y medidas</a>
                        </p>
                        <p class="price" style="color: #999999;" *ngIf="product.current_offer">
                          <del>
                            ${{product.price}}
                          </del>
                        </p>
                        <p class="price">
                          $ {{product.discount_price}}
                        </p>
                        <p class="text-muted"
                           style="text-align:center;font-size: 0.85em"
                           *ngIf="product.current_offer && product.current_offer.min_required > 0">
                          (*) a partir de la {{product.current_offer.min_required}} unidad
                        </p>
                        <p class="text-center buttons">
                            <button class="btn btn-primary" (click)="addToCart(product)"><i class="fa fa-shopping-cart"></i> Agregar al carrito</button>
                            <!--
                            <a [routerLink]="['/basket']" class="btn btn-default"><i class="fa fa-heart"></i> Me gusta </a>
                            -->
                        </p>


                    </div>

                    <div class="row" id="thumbs">
                        <div *ngFor="let img of product.images" class="col-xs-4">
                            <a href="{{img.image}}" class="thumb">
                                <img src="{{img.image}}" alt="" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div id="details" class="box">
              <p>
                  <div [innerHTML]="product.details"></div>

                  <blockquote>
                      <p><em>{{product.foot_desc}}</em>
                      </p>
                  </blockquote>

                  <hr>
                  <div class="social">
                      <h4>Compartir</h4>
                      <p>
                          <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                          <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                          <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                          <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                      </p>
                  </div>
          </div>

          <related-products>
          </related-products>

        </div>
        <!-- /.col-md-9 -->
    </div>
    <!-- /.container -->
</div>
<!-- /#content -->
