<div class="box" id="order-summary">
    <div class="box-header">
        <h3>Resumen</h3>
    </div>
    <p class="text-muted">Los costos de envio y adicionales son calculados de acuerdo a los valores que ha ingresado.</p>

    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td>Subtotal</td>
                    <th>$ {{subtotal | number:'1.2-2'}}</th>
                </tr>
                <tr>
                    <td>Descuentos</td>
                    <th> $ {{totalDiscount | number:'1.2-2'}}</th>
                </tr>
                <tr>
                    <td>Interes</td>
                    <th>$ {{interest | number:'1.2-2'}}</th>
                </tr>
                <tr>
                    <td>Envio</td>
                    <th>$ {{deliveryPrice | number:'1.2-2'}}</th>
                </tr>
                <tr class="total">
                    <td>Total</td>
                    <th>$ {{totalPrice | number:'1.2-2'}}</th>
                </tr>
            </tbody>
        </table>
    </div>

</div>
