<div id="content" *ngIf="model != null">
    <div class="container">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li>
                  <a [routerLink]="['/home']">Inicio</a>
                </li>
                <li>
                  <a [routerLink]="['/basket']">Carrito de Compras</a>
                </li>
                <li>Finalizar compra</li>
            </ul>
        </div>

        <div class="col-md-9" id="checkout">

            <div class="box">
                <h1>Finalizar compra</h1>
                <ul class="nav nav-pills nav-justified">
                    <li class="disabled"><a><i class="fa fa-truck"></i><br>Metodo de Envio</a>
                    </li>
                    <li class="active"><a><i class="fa fa-map-marker"></i><br>Direccion</a>
                    </li>
                    <li class="disabled"><a><i class="fa fa-money"></i><br>Metodo de Pago</a>
                    </li>
                    <li class="disabled"><a><i class="fa fa-eye"></i><br>Revisar Orden</a>
                    </li>
                </ul>

                <form (ngSubmit)="sendForm()" #addressForm="ngForm">

                    <div class="content" *ngIf="model != null">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="firstname">Nombre</label>
                                    <input type="text" class="form-control" id="firstname" name="firstname"
                                           required [(ngModel)]="model.address.firstname" #firstname="ngModel">
                                    <div [hidden]="firstname.valid || firstname.pristine" class="validation-msg alert alert-danger">
                                      Ingrese su Nombre
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="lastname">Apellido</label>
                                    <input type="text" class="form-control" id="lastname" name="lastname"
                                           required [(ngModel)]="model.address.lastname" #lastname="ngModel">
                                    <div [hidden]="lastname.valid || lastname.pristine" class="validation-msg alert alert-danger">
                                       Ingrese su Apellido
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="phone">Telefono</label>
                                    <input type="text" class="form-control" id="phone" name="phone"
                                           required [(ngModel)]="model.address.phone" #phone="ngModel">
                                    <div [hidden]="phone.valid || phone.pristine" class="validation-msg alert alert-danger">
                                      Ingrese un Telefono
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control" id="email" name="email"
                                           required [(ngModel)]="model.address.email" #email="ngModel">
                                    <div [hidden]="email.valid || email.pristine" class="validation-msg alert alert-danger">
                                      Ingrese un Email
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->

                        <hr *ngIf="model.method != 'NONE'"/>

                        <div class="row" *ngIf="model.method != 'NONE'">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="street">Nombre de la Calle</label>
                                    <input type="text" class="form-control" id="street" name="street"
                                           required [(ngModel)]="model.address.street" #street="ngModel">
                                    <div [hidden]="street.valid || street.pristine" class="validation-msg alert alert-danger">
                                      Ingrese el Nombre de la Calle
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="number">Número</label>
                                    <input type="text" class="form-control" id="number" name="number"
                                           required [(ngModel)]="model.address.number" #number="ngModel">
                                    <div [hidden]="number.valid || number.pristine" class="validation-msg alert alert-danger">
                                      Ingrese el Número
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="apartment">Piso / Dpto</label>
                                    <input type="text" class="form-control" id="apartment" name="apartment"
                                           required [(ngModel)]="model.address.apartment" #apartment="ngModel">
                                    <div [hidden]="apartment.valid || apartment.pristine" class="validation-msg alert alert-danger">
                                      Ingrese el Piso / Depto
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->

                        <div class="row" *ngIf="model.method != 'NONE'">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label for="city">Ciudad</label>
                                    <input type="text" class="form-control" id="city" name="city"
                                           required [(ngModel)]="model.address.city" #city="ngModel">
                                    <div [hidden]="city.valid || city.pristine" class="validation-msg alert alert-danger">
                                      Ingrese la Ciudad
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label for="zip">Codigo Postal</label>
                                    <input type="text" class="form-control" id="zip" name="zip"
                                           required [(ngModel)]="model.address.zip" #zip="ngModel">
                                    <div [hidden]="zip.valid || zip.pristine" class="validation-msg alert alert-danger">
                                      Ingrese la Ciudad
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label for="state">Provincia</label>
                                    <select class="form-control" id="state" name="state"
                                            required [(ngModel)]="model.address.state" class="form-control" #state="ngModel">
                                      <option *ngFor="let s of states" [ngValue]="s.id">{{s.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label for="country">Pais</label>
                                    <select class="form-control" id="country" name="country"
                                            required [(ngModel)]="model.address.country" class="form-control" #country="ngModel">
                                      <option *ngFor="let s of countries" [ngValue]="s.id">{{s.name}}</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <!-- /.row -->

                        <div class="panel panel-warning" *ngIf="model.method == 'NONE'">
                          <div class="panel-body">
                              Usted ha seleccionado la opcion de <strong>Retiro en la sucursal</strong>. Para retirar sus productos, por favor concurrir a: <br/>
                              <br/>
                              <div class="box" style="padding: 20px">
                                <div class="row">
                                    <div class="col-md-offset-4 col-sm-4">
                                         <h4>España 3024</h4>
                                         <h4>Olavarría (CP 7400)</h4>
                                         <h5>Buenos Aires</h5>
                                      </div>
                                </div>
                              </div>
                          </div>
                        </div>

                    </div>
                    <!-- /.content -->

                    <div class="box-footer">
                        <div class="pull-left">
                            <a [routerLink]="['/delivery']" class="btn btn-default">
                              <i class="fa fa-chevron-left"></i>
                              Volver
                            </a>
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary" [disabled]="!addressForm.form.valid">
                              Siguiente
                              <i class="fa fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>

                </form>

            </div>
            <!-- /.box -->


        </div>
        <!-- /.col-md-9 -->

        <div class="col-md-3">
          <summary></summary>
        </div>
        <!-- /.col-md-3 -->

    </div>
    <!-- /.container -->
</div>
<!-- /#content -->
