<div id="content">
    <div class="container">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li>
                  <a [routerLink]="['/home']">Inicio</a>
                </li>
            </ul>
        </div>

        <div *ngIf="content && content.image" class="col-md-12">
          <div class="box">
            <img src="{{content.image}}" alt="" class="img-responsive" style="width: 100%;">
          </div>
        </div>

        <div class="col-md-12">
          <div *ngIf="content" class="box">
            <div [innerHTML]="safeContent"></div>
          </div>
        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /#content -->
