<div id="content">
    <div class="container">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li>
                  <a [routerLink]="['/home']">Inicio</a>
                </li>
                <li *ngIf="section">
                  <a [routerLink]="['/catalog/section', section.id]">
                    {{section.name}}
                  </a>
                </li>
                <li *ngIf="category">
                  <a [routerLink]="['/catalog/section', section.id, 'category', category.id]">
                    {{category.name}}
                  </a>
                </li>
                <li *ngIf="subcategory">
                  {{subcategory.name}}
                </li>
            </ul>
        </div>

        <div class="col-md-3">
            <!-- *** MENUS AND FILTERS ***
            -->
            <side-nav [section]="section"
                      [category]="category?.id"
                      [subcategory]="subcategory?.id"
                      *ngIf="!category || !subcategory"></side-nav>

            <side-bar [tags]="tags"
                      [priceMin]="priceMin"
                      [priceMax]="priceMax"
                      (tagFilterChange)="onTagFilterChange($event)"
                      (clearTagFilter)="onClearTagFilter($event)"
                      (priceRangeChange)="onPriceRangeChange($event)"
                      (clearPriceRange)="onClearPriceRange()"></side-bar>

            <div class="banner">
                <a href="#">
                    <img src="/assets/images/banner.jpg" alt="sales 2014" class="img-responsive">
                </a>
            </div>
        </div>

        <div class="col-md-9">

            <!--
            <div class="box">
                <h1>Ladies</h1>
                <p>In our Ladies department we offer wide selection of the best products we have found and carefully selected worldwide.</p>
            </div>
          -->

            <pager [pageSize]="pageSize"
                   [sortBy]="sortBy"
                   [countElements]="productsCount"
                   [totalElements]="totalProducts"
                   (pageSizeChange)="onPageSizeChange($event)"
                   (sortByChange)="onSortByChange($event)">
            </pager>

            <div class="row products">

                <div *ngFor="let prod of actualPage" class="col-md-4 col-sm-6">
                  <div class="product">
                      <div class="flip-container">
                          <div class="flipper">
                              <div class="front">
                                  <a [routerLink]="['/detail', prod.id]">
                                      <img src="{{prod.images[0].image}}" alt="" class="img-responsive">
                                  </a>
                              </div>
                              <div class="back">
                                  <a [routerLink]="['/detail', prod.id]">
                                      <img src="{{prod.images[1].image}}" alt="" class="img-responsive">
                                  </a>
                              </div>
                          </div>
                      </div>
                      <a [routerLink]="['/detail', prod.id]" class="invisible">
                          <img src="{{prod.images[0].image}}" alt="" class="img-responsive">
                      </a>
                      <div class="text">
                          <h3><a [routerLink]="['/detail', prod.id]">{{prod.name}}</a></h3>
                          <p class="price">$ {{prod.price}}</p>
                          <p class="buttons">
                              <a [routerLink]="['/detail', prod.id]" class="btn btn-default">Ver Detalle</a>
                              <a class="btn btn-primary" (click)="addToCart(prod)"><i class="fa fa-shopping-cart"></i>Agregar al Carrito</a>
                          </p>
                      </div>
                      <!-- /.text -->
                  </div>
                  <!-- /.product -->

                  <div class="ribbon sale">
                      <div class="theribbon">OFERTA</div>
                      <div class="ribbon-background"></div>
                  </div>
                  <!-- /.ribbon -->

                  <div class="ribbon new">
                      <div class="theribbon">NUEVO</div>
                      <div class="ribbon-background"></div>
                  </div>
                  <!-- /.ribbon -->

                  <div class="ribbon gift">
                      <div class="theribbon">AHORA</div>
                      <div class="ribbon-background"></div>
                  </div>
                  <!-- /.ribbon -->
                </div>

            </div>
            <!-- /.products -->

            <div *ngIf="!actualPage.length">
                <div class="box" style="text-align: center">
                    <strong>No se encontraron productos</strong>
                </div>
            </div>

            <paginator *ngIf="actualPage.length"
                       [page]="page"
                       [totalPages]="totalPages"
                       (pageChange)="onPageChange($event)"></paginator>

        </div>
        <!-- /.col-md-9 -->
    </div>
    <!-- /.container -->
</div>
<!-- /#content -->
