<div id="gb-home-payments-offers" class="gb-home-payments-offers-cyber ">
    	<ul>
    		<li class="module module-payments clearfix">
    			<div class="module-payments-inner">
    				<div class="text-content">
    					<p>PAGÁ CON <strong>CRÉDITO</strong> Y <strong>DÉBITO</strong></p>
    					<a data-toggle="modal" data-target="#modalPromociones">VER PROMOCIONES</a>
    				</div>
    				<ul class="creditcard-wrapper clearfix">
    					<li>
    						<img class="creditcard-thumb" src="assets/images/visa.svg" alt="Visa">
    					</li>
    					<li>
    						<img class="creditcard-thumb" src="assets/images/master.svg" alt="MasterCard">
    					</li>
    					<li>
    						<img class="creditcard-thumb" src="assets/images/amex.svg" alt="American Express">
    					</li>
    					<li>
    						<img class="creditcard-thumb" src="assets/images/mercado-pago.svg" alt="Mercado Pago">
    					</li>
    					<li>
    						<img class="creditcard-thumb" src="assets/images/visa-debito.svg" alt="Visa Débito">
    					</li>
    					<li>
    						<img class="creditcard-thumb" src="assets/images/naranja.svg" alt="Naranja">
    					</li>
    				</ul>
    			</div>
    		</li>
    		<li class="module module-branches clearfix" id="main-carousel-sucursales" data-href="/sucursales">
    			<img src="assets/images/sucursales.png" alt="Sucursales">
    			<div class="text-content">
    				<p><strong>RETIRÁ GRATIS</strong> EN NUESTRA SUCURSAL</p>
    			</div>
    		</li>
    		<li class="module module-shipping clearfix">
    			<img src="assets/images/envios.png" alt="Sucursales">
    			<div class="text-content">
    				<p>El <strong>envío más rápido</strong> a todo el país</p>
    			</div>
    		</li>
        <!--
    		<li class="module module-plus-airline  clearfix" data-href="/aerolineas-plus">
    			<div class="text-content">

    					<p>SUMÁ MILLAS</p>
    			</div>
    				<img src="//dj4i04i24axgu.cloudfront.net/statics/1.3.166/images/main-carousel/aerolineas-plus.svg" alt="Aerolineas Plus">
    		</li>
        -->
    		<li class="module module-know-more clearfix">
    				<button class="btn btn-primary small"><a href="#/content/4" style="text-decoration: none; color: white;">Conocé más sobre nosotros</a></button>
    		</li>
    	</ul>
</div>
