<div id="content">

  <!-- *** MAIN SLIDER ***
_________________________________________________________ -->
    <div class="container">
        <div class="col-md-12">
            <div id="main-slider" main-slider>
                <div *ngFor="let slider of sliderContent" class="item">
                    <a *ngIf="slider.content" [routerLink]="['/content', slider.id]">
                      <img class="img-responsive" src="{{slider.image}}" alt="{{slider.name}}" style="width: 1108px">
                    </a>
                    <a *ngIf="!slider.content" href="javascript:void(0)">
                      <img class="img-responsive" src="{{slider.image}}" alt="{{slider.name}}" style="width: 1108px">
                    </a>
                </div>
            </div>
            <!-- /#main-slider -->
        </div>
    </div>
    <!-- *** MAIN SLIDER END *** -->


    <!-- *** GET INSPIRED ***
_________________________________________________________ -->
    <div class="container" data-animate="fadeInUpBig">
        <div class="col-md-12">
            <div class="box slideshow">
                <h3>Nuestras Ofertas</h3>
                <p class="lead">Aproveche las ofertas que tenemos para ofrecerle</p>
                <div id="get-inspired" get-inspired class="owl-carousel owl-theme">
                    <div *ngFor="let offer of currentOffers" class="item">
                        <a [routerLink]="['/offer', offer.id]">
                            <img class="img-responsive" src="{{offer.image}}" alt="{{offer.name}}" style="width: 1108px">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- *** GET INSPIRED END *** -->

</div>
<!-- /#content -->
