<div id="content">

  <!-- *** MAIN SLIDER ***
_________________________________________________________ -->
    <div class="container">
        <div class="col-md-12">
            <div id="main-slider" main-slider>
                <div *ngFor="let slider of sliderContent" class="item">
                    <a *ngIf="slider.content" [routerLink]="['/content', slider.id]">
                      <img class="img-responsive" src="{{slider.image}}" alt="{{slider.name}}" style="width: 1438px">
                    </a>
                    <a *ngIf="!slider.content" href="javascript:void(0)">
                      <img class="img-responsive" src="{{slider.image}}" alt="{{slider.name}}" style="width: 1438px">
                    </a>
                </div>
                <div *ngFor="let offer of currentOffers" class="item">
                    <a [routerLink]="['/offer', offer.id]">
                        <img class="img-responsive" src="{{offer.image}}" alt="{{offer.name}}" style="width: 1438px">
                    </a>
                </div>
            </div>
            <!-- /#main-slider -->
        </div>
    </div>
    <!-- *** MAIN SLIDER END *** -->

    <div class="container">
      <div class="col-md-12" style="margin-bottom: 20px">
        <div class="box" style="padding:0">
          <payments-banner></payments-banner>
        </div>
      </div>
    </div>

    <!-- *** HOT PRODUCT SLIDESHOW ***
_________________________________________________________ -->
    <div id="hot" *ngFor="let offer of currentOffers">
        <div class="container">
            <div class="col-md-12">
                <div class="box">
                    <div class="container">
                        <div class="col-md-12">
                            <h2>{{offer.name}}</h2>
                        </div>
                    </div>
                </div>


                <div id="product-slider" class="product-slider" product-slider>
                    <div class="item" *ngFor="let prod of productsOffer.get(offer.id)">
                        <div class="product same-height">
                            <div class="flip-container" *ngIf="prod.images.length > 1">
                                <div class="flipper">
                                    <div class="front">
                                        <a [routerLink]="['/detail', prod.id]">
                                            <img src="{{prod.images[0].image}}" alt="" class="img-responsive img-product">
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a [routerLink]="['/detail', prod.id]">
                                            <img src="{{prod.images[1].image}}" alt="" class="img-responsive img-product">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a [routerLink]="['/detail', prod.id]" [ngClass]="{'invisible' : prod.images.length > 1}">
                                <img src="{{prod.images[0].image}}" alt="" class="img-responsive img-product">
                            </a>
                            <div class="text">
                                <h3><a [routerLink]="['/detail', prod.id]">{{prod.name}}</a></h3>
                                <p class="price">
                                    <del *ngIf="prod.current_offer">
                                        ${{prod.price | number:'1.2-2'}}
                                    </del>
                                    <br>
                                    ${{prod.discount_price | number:'1.2-2'}}
                                </p>
                            </div>
                            <!-- /.text -->
                        </div>
                        <!-- /.product -->
                    </div>
                </div>
                <!-- /.product-slider -->
            </div>
        </div>
       <!-- /.container -->

    </div>
   <!-- /#hot -->

   <!-- *** HOT END *** -->


    <!-- *** GET INSPIRED ***
_________________________________________________________
    <div class="container" data-animate="fadeInUpBig">
        <div class="col-md-12">
            <div class="box slideshow">
                <h3>Nuestras Ofertas</h3>
                <p class="lead">Aproveche las ofertas que tenemos para ofrecerle</p>
                <div id="get-inspired" get-inspired class="owl-carousel owl-theme">
                    <div *ngFor="let offer of currentOffers" class="item">
                        <a [routerLink]="['/offer', offer.id]">
                            <img class="img-responsive" src="{{offer.image}}" alt="{{offer.name}}" style="width: 1108px">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    <!-- *** GET INSPIRED END *** -->

</div>
<!-- /#content -->


<div class="modal fade" id="modalPromociones" tabindex="-1" role="dialog" aria-labelledby="modalPromocionesLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalPromocionesLongTitle">Promociones de MercadoPago</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -20px">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body wrapper">
                <iframe src="https://www.mercadopago.com.ar/cuotas?iframe=true" width="700" height="700" frameBorder="0"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
