<div id="content" *ngIf="model != null">
  <div class="container">

      <div class="col-md-12">
          <ul class="breadcrumb">
              <li>
                <a [routerLink]="['/home']">Inicio</a>
              </li>
              <li>
                <a [routerLink]="['/basket']">Carrito de Compras</a>
              </li>
              <li>Finalizar compra</li>
          </ul>
      </div>

      <div class="col-md-9" id="checkout">

          <div class="box">

              <h1>Finalizar compra</h1>
              <ul class="nav nav-pills nav-justified">
                  <li class="disabled"><a><i class="fa fa-truck"></i><br>Metodo de Envio</a>
                  </li>
                  <li class="disabled"><a><i class="fa fa-map-marker"></i><br>Direccion</a>
                  </li>
                  <li class="active"><a><i class="fa fa-money"></i><br>Metodo de Pago</a>
                  </li>
                  <li class="disabled"><a><i class="fa fa-eye"></i><br>Revisar Orden</a>
                  </li>
              </ul>

              <form (ngSubmit)="sendForm()" #paymentForm="ngForm" class="form-horizontal">

                <div class="content">
                        <div class="form-group" *ngIf="paymentSelectorEnabled">
                          <div class="col-sm-offset-4 col-sm-8">
                              <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default" [ngClass]="{'active' : !model.cashPayment}"
                                       (click)="onCashPaymentChange(false)">
                                  <input type="radio" name="cash_payment" />
                                    Con tarjeta
                                </label>
                                <label class="btn btn-default" [ngClass]="{'active' : model.cashPayment}"
                                       (click)="onCashPaymentChange(true)">
                                  <input type="radio" name="cash_payment" />
                                    En efectivo
                                </label>
                              </div>
                           </div>

                        </div>

                        <div class="panel panel-info" *ngIf="model.cashPayment">
                          <div class="panel-body">
                              Si selecciona la opcion de <strong>Pago en Efectivo</strong>, debera retirar sus productos en el local : <br/>
                              <br/>
                              <div class="box" style="padding: 20px">
                                <div class="row">
                                    <div class="col-md-offset-4 col-sm-4">
                                         <h4>España 3024</h4>
                                         <h4>Olavarría (CP 7400)</h4>
                                         <h5>Buenos Aires</h5>
                                      </div>
                                </div>
                              </div>
                          </div>
                        </div>
                  </div>

                  <div class="content" *ngIf="!model.cashPayment">

                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-4">
                              <input id="email" name="email" [(ngModel)]="model.card.email" required class="form-control"
                                     type="email" placeholder="unadireccion@dominio.com" #email="ngModel"/>
                              <div [hidden]="email.valid || email.pristine" class="validation-msg alert alert-danger">
                                Ingrese su Email
                              </div>
                            </div>
                            <label for="phone" class="col-sm-2 control-label">Telefono</label>
                            <div class="col-sm-4">
                              <input id="phone" name="phone" [(ngModel)]="model.card.phone" required class="form-control"
                                     type="tel" placeholder="XXX-XXXXXXX" #phone="ngModel"/>
                              <div [hidden]="phone.valid || phone.pristine" class="validation-msg alert alert-danger">
                                Ingrese un Numero de Telefono
                              </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="cardNumber" class="col-sm-2 control-label">Nro Tarjeta</label>
                            <div class="col-sm-4">
                              <input type="text" id="cardNumber" required class="form-control"
                                     (change)="onCardNumberChange($event)"
                                     name="cardNumber" [(ngModel)]="model.card.cardNumber" placeholder="XXXX XXXX XXXX XXXX" #cardNumber="ngModel"/>
                              <div [hidden]="cardNumber.valid || cardNumber.pristine" class="validation-msg alert alert-danger">
                                Ingrese su Numero de Tarjeta
                              </div>
                            </div>

                            <label for="securityCode" class="col-sm-2 control-label">Cod Seguridad</label>
                            <div class="col-sm-4">
                              <input type="number" id="securityCode" required class="form-control"
                                     name="securityCode" [(ngModel)]="model.card.securityCode" placeholder="XXX" #securityCode="ngModel"/>
                              <div [hidden]="securityCode.valid || securityCode.pristine" class="validation-msg alert alert-danger">
                                Ingrese su Codigo de Verificacion
                              </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="cardExpirationMonth" class="col-sm-2 control-label">Caducidad</label>
                            <div class="col-sm-2">
                              <input type="text" id="cardExpirationMonth" required class="form-control"
                                     name="cardExpirationMonth" [(ngModel)]="model.card.cardExpirationMonth" placeholder="XX" #cardExpirationMonth="ngModel"/>
                            </div>
                            <div class="col-sm-2">
                              <input type="text" id="cardExpirationYear" required class="form-control"
                                     name="cardExpirationYear" [(ngModel)]="model.card.cardExpirationYear" placeholder="XXXX" #cardExpirationYear="ngModel"/>
                            </div>
                            <div class="col-md-offset-2 col-sm-10">
                              <div [hidden]="cardExpirationMonth.valid || cardExpirationMonth.pristine" class="validation-msg alert alert-danger">
                                Ingrese el Mes de Caducidad de su Tarjeta
                              </div>
                              <div [hidden]="cardExpirationYear.valid || cardExpirationYear.pristine" class="validation-msg alert alert-danger">
                                Ingrese el Año de Caducidad de su Tarjeta
                              </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="cardholderName" class="col-sm-2 control-label">Titular</label>
                            <div class="col-sm-10">
                              <input type="text" id="cardholderName" required class="form-control"
                                     name="cardholderName" [(ngModel)]="model.card.cardholderName" placeholder="Titular de la tarjeta" #cardholderName="ngModel"/>
                              <div [hidden]="cardholderName.valid || cardholderName.pristine" class="validation-msg alert alert-danger">
                                Ingrese el Nombre del Titular
                              </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="docType" class="col-sm-2 control-label">Tipo Documento</label>
                            <div class="col-sm-4">
                              <select id="docType" name="docType" required [(ngModel)]="model.card.docType" class="form-control" #docType="ngModel">
                                <option *ngFor="let c of documentTypes" [ngValue]="c.id">{{c.name}}</option>
                              </select>
                              <div [hidden]="docType.valid || docType.pristine" class="validation-msg alert alert-danger">
                                Ingrese el Tipo de Documento del Titular
                              </div>
                            </div>

                            <label for="docNumber" class="col-sm-2 control-label">Nro Documento</label>
                            <div class="col-sm-4">
                              <input type="text" id="docNumber" required class="form-control"
                                     name="docNumber" [(ngModel)]="model.card.docNumber" placeholder="XXXXXXXX" #docNumber="ngModel"/>
                              <div [hidden]="docNumber.valid || docNumber.pristine" class="validation-msg alert alert-danger">
                                Ingrese el Numero de Documento del Titular
                              </div>
                            </div>
                        </div>

                        <div class="form-group" [hidden]="!cardNumberFilled">
                          <label for="paymentMethodId" class="col-sm-2 control-label">Metodo de Pago</label>
                          <div class="col-sm-4">
                            <input type="text" id="paymentMethodId" name="paymentMethodId"
                                    disabled [(ngModel)]="model.method.paymentMethodName" class="form-control">
                          </div>

                          <label for="issuerId" class="col-sm-2 control-label">Emisor</label>
                          <div class="col-sm-4">
                            <select id="issuerId" name="issuerId" required *ngIf="issuerIdRequired"
                                    [(ngModel)]="model.method.issuerId" class="form-control" #fldIssuerId="ngModel">
                              <option *ngFor="let i of issuers" [ngValue]="i.id">{{i.name}}</option>
                            </select>
                            <div *ngIf="issuerIdRequired && fldIssuerId" [hidden]="fldIssuerId.valid || fldIssuerId.pristine" class="validation-msg alert alert-danger">
                              Ingrese el Tipo de Documento del Titular
                            </div>
                            <input type="text" id="issuerId" name="issuerId" *ngIf="!issuerIdRequired"
                                    disabled [(ngModel)]="model.method.issuerName" class="form-control">
                          </div>
                        </div>

                        <div class="form-group" [hidden]="!cardNumberFilled">
                          <label for="installments" class="col-sm-2 control-label">Cuotas</label>
                          <div class="col-sm-5">
                            <select id="installments" name="installments" required
                                    (change)="onInstallmentChange($event)"
                                    [(ngModel)]="model.method.installments" class="form-control" #fldInstallments="ngModel">
                              <option *ngFor="let i of installments" [ngValue]="i.installments">{{i.recommended_message}}</option>
                            </select>
                            <div [hidden]="fldInstallments.valid || fldInstallments.pristine" class="validation-msg alert alert-danger">
                              Ingrese un Plan de Cuotas
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-offset-2 col-md-10">
                              <div [hidden]="!errorsWithCard" class="alert alert-danger" role="alert">
                                <strong>Error!</strong> Verifique los datos ingresados e intentelo nuevamente.
                              </div>
                          </div>
                        </div>


                  </div>
                  <!-- /.content -->

                  <div class="box-footer">
                      <div class="pull-left">
                          <a [routerLink]="['/address']" class="btn btn-default">
                            <i class="fa fa-chevron-left">
                            </i>Volver
                          </a>
                      </div>
                      <div class="pull-right">
                          <button type="submit" class="btn btn-primary" [disabled]="!paymentForm.form.valid">
                              Siguiente
                              <i class="fa fa-chevron-right"></i>
                          </button>
                      </div>
                  </div>

              </form>

          </div>
          <!-- /.box -->


      </div>
      <!-- /.col-md-9 -->

      <div class="col-md-3">

          <summary></summary>

      </div>
      <!-- /.col-md-3 -->

  </div>
  <!-- /.container -->
</div>
<!-- /#content -->
