<div id="content">
    <div class="container">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><a [routerLink]="['Home']">Inicio</a>
                </li>
                <li>Ladies</li>
            </ul>
        </div>

        <div class="col-md-3">
            <!-- *** MENUS AND FILTERS ***
_________________________________________________________ -->
            <side-nav></side-nav>

            <side-bar></side-bar>

            <div class="banner">
                <a href="#">
                    <img src="img/banner.jpg" alt="sales 2014" class="img-responsive">
                </a>
            </div>
        </div>

        <div class="col-md-9">

            <!--
            <div class="box">
                <h1>Ladies</h1>
                <p>In our Ladies department we offer wide selection of the best products we have found and carefully selected worldwide.</p>
            </div>
          -->

            <pager [pageSize]="limite"
                   [sortBy]="ordenarPor"
                   [countElements]="cantidadProductos"
                   [totalElements]="totalProductos"
                   (pageSizeChange)="onPageSizeChange($event)"
                   (sortByChange)="onSortByChange($event)">
            </pager>

            <div class="row products">

                <div *ngFor="let prod of products" class="col-md-4 col-sm-6">
                  <div class="product">
                      <div class="flip-container">
                          <div class="flipper">
                              <div class="front">
                                  <a [routerLink]="['Detail', {id : prod.id}]">
                                      <img src="{{prod.imagen1}}" alt="" class="img-responsive">
                                  </a>
                              </div>
                              <div class="back">
                                  <a [routerLink]="['Detail', {id : prod.id}]">
                                      <img src="{{prod.imagen2}}" alt="" class="img-responsive">
                                  </a>
                              </div>
                          </div>
                      </div>
                      <a [routerLink]="['Detail', {id : prod.id}]" class="invisible">
                          <img src="{{prod.imagen1}}" alt="" class="img-responsive">
                      </a>
                      <div class="text">
                          <h3><a [routerLink]="['Detail', {id : prod.id}]">{{prod.descripcion}}</a></h3>
                          <p class="price">$ {{prod.precio}}</p>
                          <p class="buttons">
                              <a [routerLink]="['Detail', {id : prod.id}]" class="btn btn-default">Ver Detalle</a>
                              <a class="btn btn-primary" (click)="addToCart(prod)"><i class="fa fa-shopping-cart"></i>Agregar al Carrito</a>
                          </p>
                      </div>
                      <!-- /.text -->
                  </div>
                  <!-- /.product -->

                  <div class="ribbon sale">
                      <div class="theribbon">OFERTA</div>
                      <div class="ribbon-background"></div>
                  </div>
                  <!-- /.ribbon -->

                  <div class="ribbon new">
                      <div class="theribbon">NUEVO</div>
                      <div class="ribbon-background"></div>
                  </div>
                  <!-- /.ribbon -->

                  <div class="ribbon gift">
                      <div class="theribbon">AHORA</div>
                      <div class="ribbon-background"></div>
                  </div>
                  <!-- /.ribbon -->
                </div>

            </div>
            <!-- /.products -->

            <paginator [page]="pagina"
                       [totalPages]="totalPaginas"
                       (pageChange)="onPageChange($event);"></paginator>


        </div>
        <!-- /.col-md-9 -->
    </div>
    <!-- /.container -->
</div>
<!-- /#content -->
