<div id="content">
    <div class="container">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><a [routerLink]="['/home']">Inicio</a>
                </li>
                <li *ngIf="offer">{{offer.name}}</li>
            </ul>
        </div>

        <div class="col-md-12">
          <div *ngIf="offer" class="box">
            <img src="{{offer.image}}" alt="" class="img-responsive" style="width: 100%;">
          </div>
        </div>

        <div class="col-md-12">
          <div *ngIf="offer" class="box">
            <div [innerHTML]="offer.details"></div>
          </div>
        </div>

        <div class="col-md-12" style="margin-top: 20px;">
          <div *ngFor="let prod of products" class="col-md-3 col-sm-4">
            <div class="product">
                <div class="flip-container" *ngIf="prod.images.length > 1">
                    <div class="flipper">
                        <div class="front">
                            <a [routerLink]="['/detail', prod.id]">
                                <img src="{{prod.images[0].image}}" alt="" class="img-responsive img-product">
                            </a>
                        </div>
                        <div class="back">
                            <a [routerLink]="['/detail', prod.id]">
                                <img src="{{prod.images[1].image}}" alt="" class="img-responsive img-product">
                            </a>
                        </div>
                    </div>
                </div>
                <a [routerLink]="['/detail', prod.id]" [ngClass]="{'invisible' : prod.images.length > 1}">
                    <img src="{{prod.images[0].image}}" alt="" class="img-responsive img-product">
                </a>
                <div class="text">
                    <h3><a [routerLink]="['/detail', prod.id]">{{prod.name}}</a></h3>
                    <p class="price">
                      <del *ngIf="prod.current_offer">
                        ${{prod.price | number:'1.2-2'}}
                      </del>
                      <br>
                      ${{prod.discount_price | number:'1.2-2'}}
                    </p>
                </div>
                <!-- /.text -->
            </div>
            <!-- /.product -->
          </div>
        </div>



    </div>
    <!-- /.container -->
</div>
<!-- /#content -->
