<div id="content">
    <div class="container">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><a [routerLink]="['/home']">Inicio</a>
                </li>
                <li *ngIf="offer">{{offer.name}}</li>
            </ul>
        </div>

        <div class="col-md-12">
          <div *ngIf="offer" class="col-md-12">
            <img src="{{offer.image}}" alt="" class="img-responsive" style="width: 100%;">
          </div>

          <div class="col-md-offset-2 col-md-8" style="position: absolute;top: 5%;left: 16px;opacity:.7">
            <div *ngIf="offer" class="box">
              <div [innerHTML]="offer.details"></div>
            </div>
          </div>
        </div>

        <div class="col-md-12" style="margin-top: 20px;">
          <div *ngFor="let prod of products" class="col-md-2 col-sm-4">
            <div class="product">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <a [routerLink]="['/detail', prod.id]">
                                <img src="{{prod.images[0].image}}" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="back">
                            <a [routerLink]="['/detail', prod.id]">
                                <img src="{{prod.images[1].image}}" alt="" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
                <a [routerLink]="['/detail', prod.id]" class="invisible">
                    <img src="{{prod.images[0].image}}" alt="" class="img-responsive">
                </a>
                <div class="text">
                    <h3><a [routerLink]="['/detail', prod.id]">{{prod.name}}</a></h3>
                    <p class="price">
                      <del *ngIf="prod.current_offer">
                        $ {{prod.price}}
                      </del>
                      $ {{prod.discount_price}}
                    </p>
                </div>
                <!-- /.text -->
            </div>
            <!-- /.product -->
          </div>
        </div>



    </div>
    <!-- /.container -->
</div>
<!-- /#content -->
