<div id="content">
    <div class="container">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><a [routerLink]="['/basket']">Carrito de Compras</a></li>
                <li>Finalizar compra</li>
            </ul>
        </div>

        <div class="col-md-9" id="checkout">

            <div class="box">
                <form>
                    <h1>Finalizar compra</h1>
                    <ul class="nav nav-pills nav-justified">
                        <li class="disabled"><a><i class="fa fa-map-marker"></i><br>Direccion</a>
                        </li>
                        <li class="active"><a><i class="fa fa-truck"></i><br>Metodo de Envio</a>
                        </li>
                        <li class="disabled"><a><i class="fa fa-money"></i><br>Metodo de Pago</a>
                        </li>
                        <li class="disabled"><a><i class="fa fa-eye"></i><br>Revisar Orden</a>
                        </li>
                    </ul>

                    <div class="content">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="box shipping-method">

                                    <h4>USPS Next Day</h4>

                                    <p>Get it right on next day - fastest option possible.</p>

                                    <div class="box-footer text-center">

                                        <input type="radio" name="delivery" value="delivery1">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="box shipping-method">

                                    <h4>USPS Next Day</h4>

                                    <p>Get it right on next day - fastest option possible.</p>

                                    <div class="box-footer text-center">

                                        <input type="radio" name="delivery" value="delivery2">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="box shipping-method">

                                    <h4>USPS Next Day</h4>

                                    <p>Get it right on next day - fastest option possible.</p>

                                    <div class="box-footer text-center">

                                        <input type="radio" name="delivery" value="delivery3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->

                    </div>
                    <!-- /.content -->

                    <div class="box-footer">
                        <div class="pull-left">
                            <a [routerLink]="['/address']" class="btn btn-default"><i class="fa fa-chevron-left"></i>Volver a la Direccion</a>
                        </div>
                        <div class="pull-right">
                            <button [routerLink]="['/payment']" class="btn btn-primary">Metodo de pago<i class="fa fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box -->


        </div>
        <!-- /.col-md-9 -->

        <div class="col-md-3">

            <summary></summary>

        </div>
        <!-- /.col-md-3 -->

    </div>
    <!-- /.container -->
</div>
<!-- /#content -->
