<div id="content" *ngIf="model != null">
    <div class="container">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li>
                  <a [routerLink]="['/home']">Inicio</a>
                </li>
                <li>
                  <a [routerLink]="['/basket']">Carrito de Compras</a>
                </li>
                <li>Finalizar compra</li>
            </ul>
        </div>

        <div class="col-md-9" id="checkout">

            <div class="box">

                <h1>Finalizar compra</h1>
                <ul class="nav nav-pills nav-justified">
                    <li class="active"><a><i class="fa fa-truck"></i><br>Metodo de Envio</a>
                    </li>
                    <li class="disabled"><a><i class="fa fa-map-marker"></i><br>Datos Personales</a>
                    </li>
                    <li class="disabled"><a><i class="fa fa-money"></i><br>Metodo de Pago</a>
                    </li>
                    <li class="disabled"><a><i class="fa fa-eye"></i><br>Finalizar Compra</a>
                    </li>
                </ul>

                <form (ngSubmit)="sendForm()" #deliveryForm="ngForm">
                    <div class="content">

                        <div class="row" *ngIf="!shippingEnabled">
                          <div class="col-sm-12">
                            <div class="panel panel-warning">
                              <div class="panel-body">
                                  <strong>¡Atención!</strong> El carrito contiene un elemento que no pude despacharse a través del correo standard.
                                  Solo tiene disponibles las siguientes opciones
                              </div>
                            </div>
                          </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-6" *ngIf="shippingEnabled">
                                <div class="box shipping-method">

                                    <h4>Envio a Domicilio</h4>

                                    <p>Los productos serán enviados a su domicilio a través de un servicio de encomiendas.</p>

                                    <div class="box-footer text-center">
                                        <input type="radio" name="delivery_method" value="home_shipping" [(ngModel)]="model.method" (change)="onDeliveryMethodChange($event)">
                                    </div>
                                </div>


                                <div class="col-sm-12" style="padding: 0;" *ngIf="model.method == 'home_shipping'">
                                    <p class="text-muted col-sm-12"
                                       style="margin-bottom: 5px;padding: 0;">
                                        Ingrese su codigo postal para calcular el monto del envio:
                                    </p>
                                    <div class="input-group col-sm-6">
                                      <input class="form-control" placeholder="Ej: 7400" type="number" min="1000" max="9999" name="zip" [attr.disabled]="loading ? '' : null"
                                             (change)="onPostalCodeChange()" [(ngModel)]="model.address.zip">
                                      <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button" (click)="calculateShippingCost()" [ngClass]="{disabled : loading}">
                                          {{(loading) ? 'Calculando' : 'Calcular'}}
                                        </button>
                                      </span>
                                    </div>
                                    <div class="col-sm-12">
                                      <div class="col-sm-6" style="padding : 0" *ngIf="finished">
                                          <h3>Costo de envío: </h3>
                                      </div>
                                      <div class="col-sm-6" *ngIf="finished">
                                          <h3>$ {{model.price | number:'1.2-2'}}</h3>
                                          <p class="text-muted text-success" *ngIf="model.price == 0">
                                              (Envio Gratis)
                                          </p>
                                      </div>
                                    </div>
                                    <div class="col-sm-12" *ngIf="errors">
                                      <p class="text-muted text-danger">
                                          {{errors}}
                                      </p>
                                    </div>
                                </div>
                                <!-- /.row -->

                            </div>
                            <div class="col-sm-6" *ngIf="!shippingEnabled">
                                <div class="box shipping-method">

                                    <h4>Soy de Olavarria</h4>

                                    <p>Los productos serán enviados a su domicilio en la ciudad de Olavarria</p>

                                    <div class="box-footer text-center">
                                        <input type="radio" name="delivery_method" value="LOCAL" [(ngModel)]="model.method" (change)="onDeliveryMethodChange($event)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="box shipping-method">

                                    <h4>Retiro en la sucursal</h4>

                                    <p>Pasaré a retirar los productos por el local. Recuerde concurrir con una identificación</p>

                                    <div class="box-footer text-center">
                                        <input type="radio" name="delivery_method" value="NONE" [(ngModel)]="model.method" (change)="onDeliveryMethodChange($event)">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.row -->


                    </div>
                    <!-- /.content -->

                    <div class="box-footer">
                        <div class="pull-left">
                            <a [routerLink]="['/basket']" class="btn btn-default">
                              <i class="fa fa-chevron-left"></i>
                              Volver al Carrito
                            </a>
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary" [disabled]="!finished">
                              Siguiente
                              <i class="fa fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box -->


        </div>
        <!-- /.col-md-9 -->

        <div class="col-md-3">

            <summary></summary>

        </div>
        <!-- /.col-md-3 -->

    </div>
    <!-- /.container -->
</div>
<!-- /#content -->
