<div id="content">
    <div class="container">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li>
                  <a [routerLink]="['/home']">Inicio</a>
                </li>
                <li>
                  <a [routerLink]="['/basket']">Carrito de Compras</a>
                </li>
                <li>Finalizar compra</li>
            </ul>
        </div>

        <div class="col-md-9" id="checkout">

            <div class="box">

                <h1>Finalizar compra</h1>
                <ul class="nav nav-pills nav-justified">
                    <li class="active"><a><i class="fa fa-truck"></i><br>Metodo de Envio</a>
                    </li>
                    <li class="disabled"><a><i class="fa fa-map-marker"></i><br>Direccion</a>
                    </li>
                    <li class="disabled"><a><i class="fa fa-money"></i><br>Metodo de Pago</a>
                    </li>
                    <li class="disabled"><a><i class="fa fa-eye"></i><br>Revisar Orden</a>
                    </li>
                </ul>

                <form (ngSubmit)="sendForm()" #deliveryForm="ngForm">
                    <div class="content">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="box shipping-method">

                                    <h4>Correo Andreani</h4>

                                    <p>Se utilizará Correo Andreani para el envio de los productos.</p>

                                    <div class="box-footer text-center">
                                        <input type="radio" name="delivery_andreani" value="andreani" [(ngModel)]="model.method">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="box shipping-method">

                                    <h4>Retiro en el local</h4>

                                    <p>Pasaré a retirar los productos por el local. Recuerde concurrir con una identificación</p>

                                    <div class="box-footer text-center">

                                        <input type="radio" name="delivery_none" value="NONE" [(ngModel)]="model.method">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.row -->

                    </div>
                    <!-- /.content -->

                    <div class="box-footer">
                        <div class="pull-left">
                            <a [routerLink]="['/basket']" class="btn btn-default">
                              <i class="fa fa-chevron-left">
                              </i>Volver al Carrito</a>
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary" [disabled]="model.method == null">
                              Direccion
                              <i class="fa fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box -->


        </div>
        <!-- /.col-md-9 -->

        <div class="col-md-3">

            <summary></summary>

        </div>
        <!-- /.col-md-3 -->

    </div>
    <!-- /.container -->
</div>
<!-- /#content -->
