<!-- *** NAVBAR ***
_________________________________________________________ -->

<div class="navbar navbar-default yamm" role="navigation" id="navbar">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand home" [routerLink]="['home']" data-animate-hover="bounce" style="padding-top: 5px;">
                <img src="/assets/images/logo.png" alt="Obaju logo" class="hidden-xs">
                <img src="/assets/images/logo-small.png" alt="Obaju logo" class="visible-xs"><span class="sr-only">CASA DEL CREDITO</span>
            </a>
            <div class="navbar-buttons">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-align-justify"></i>
                </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                    <span class="sr-only">Toggle search</span>
                    <i class="fa fa-search"></i>
                </button>
                <a class="btn-default navbar-toggle" [routerLink]="['/basket']">
                    <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs">3 items in cart</span>
                </a>
            </div>
        </div>
        <!--/.navbar-header -->

        <div class="navbar-collapse collapse" id="navigation">

            <ul class="nav navbar-nav navbar-left">
                <li [routerLinkActive]="['active']"><a [routerLink]="['/home']">Inicio</a>
                </li>

                <li *ngFor="let section of _sections" class="dropdown yamm-fw">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">{{section.name}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">
                                    <div *ngFor="let category of section.categories" class="col-sm-3">
                                        <h5>{{category.name}}</h5>
                                        <ul>
                                            <li *ngFor="let subcategory of category.subcategories">
                                              <a [routerLink]="['/catalog']">{{subcategory.name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                  </div>
                                </div>
                              </li>
                        </ul>
                </li>
            </ul>

        </div>
        <!--/.nav-collapse -->

        <div class="navbar-buttons">

            <div class="navbar-collapse collapse right" id="basket-overview">
                <a [routerLink]="['/basket']" class="btn btn-primary navbar-btn">
                  <i class="fa fa-shopping-cart"></i>
                  <span class="hidden-sm">{{_cartService.itemsCount}} items en el carrito</span>
                </a>
            </div>
            <!--/.nav-collapse -->

            <div class="navbar-collapse collapse right" id="search-not-mobile">
                <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                    <span class="sr-only">Toggle search</span>
                    <i class="fa fa-search"></i>
                </button>
            </div>

        </div>

        <div class="collapse clearfix" id="search">

            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>

        </div>
        <!--/.nav-collapse -->

    </div>
    <!-- /.container -->
</div>
<!-- /#navbar -->

<!-- *** NAVBAR END *** -->
