<div id="content">
  <div class="container">

      <div class="col-md-12">
          <ul class="breadcrumb">
              <li>
                <a [routerLink]="['/home']">Inicio</a>
              </li>
              <li>
                <a [routerLink]="['/basket']">Carrito de Compras</a>
              </li>
              <li>Finalizar compra</li>
          </ul>
      </div>

      <div class="col-md-9" id="checkout">

          <div class="box">

                  <h1>Finalizar compra</h1>
                  <ul class="nav nav-pills nav-justified">
                      <li><a [routerLink]="['/payment']"><i class="fa fa-money"></i><br>Metodo de Pago</a>
                      </li>
                      <li><a [routerLink]="['/delivery']"><i class="fa fa-truck"></i><br>Metodo de Envio</a>
                      </li>
                      <li><a [routerLink]="['/address']"><i class="fa fa-map-marker"></i><br>Direccion</a>
                      </li>
                      <li class="active"><a><i class="fa fa-eye"></i><br>Revisar Orden</a>
                      </li>
                  </ul>

                  <div class="content">
                      <div class="table-responsive">
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th colspan="2">Producto</th>
                                      <th>Cantidad</th>
                                      <th>Precio</th>
                                      <th>Total</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let item of items">
                                      <td>
                                          <a [routerLink]="['/detail', item.id]">
                                              <img src="{{item.image}}" alt="{{item.name}}">
                                          </a>
                                      </td>
                                      <td style="max-width: 300px">
                                        <a [routerLink]="['/detail', item.id]">{{item.name}}</a>
                                      </td>
                                      <td>
                                          {{item.count}}
                                      </td>
                                      <td>$ {{item.price}}</td>
                                      <td>$ {{item.price * item.count | number:'3.2-2'}}</td>
                                  </tr>

                              </tbody>
                              <tfoot>
                                  <tr>
                                    <th colspan="4">Total</th>
                                    <th colspan="1">$ {{totalPrice | number:'1.2-2'}}</th>
                                  </tr>
                              </tfoot>
                          </table>

                      </div>
                      <!-- /.table-responsive -->
                  </div>
                  <!-- /.content -->

                  <div class="box-footer">
                      <div class="pull-left">
                          <a [routerLink]="['/address']" class="btn btn-default">
                            <i class="fa fa-chevron-left"></i>
                            Volver
                          </a>
                      </div>
                      <div class="pull-right">
                          <button (click)="sendData()" class="btn btn-primary">
                            Confirmar Compra
                            <i class="fa fa-chevron-right"></i>
                          </button>
                      </div>
                  </div>

          </div>
          <!-- /.box -->


      </div>
      <!-- /.col-md-9 -->

      <div class="col-md-3">

          <summary></summary>

      </div>
      <!-- /.col-md-3 -->

  </div>
  <!-- /.container -->

  <div *ngIf="hasErrors" class="modal fade in" style="display: block">
      <div class="modal-dialog">
        <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title ">Error al realizar la compra</h4>
          </div>
          <div class="modal-body">
            <p>Detalle del mensaje: </p>
            <div class="panel panel-default">
              <div class="panel-body">
                {{errors}}
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="closeErrors()">Entendido</button>
          </div>
        </div>
      </div>
  </div>

</div>
<!-- /#content -->
