<div class="panel panel-default sidebar-menu">

    <div class="panel-heading">
        <h3 class="panel-title">Categories</h3>
    </div>

    <div class="panel-body">
        <ul class="nav nav-pills nav-stacked category-menu">
            <li>
                <a [routerLink]="['Catalog']">Men <span class="badge pull-right">42</span></a>
                <ul>
                    <li><a [routerLink]="['Catalog']">T-shirts</a>
                    </li>
                    <li><a [routerLink]="['Catalog']">Shirts</a>
                    </li>
                    <li><a [routerLink]="['Catalog']">Pants</a>
                    </li>
                    <li><a [routerLink]="['Catalog']">Accessories</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a [routerLink]="['Catalog']">Ladies  <span class="badge pull-right">123</span></a>
                <ul>
                    <li><a [routerLink]="['Catalog']">T-shirts</a>
                    </li>
                    <li><a [routerLink]="['Catalog']">Skirts</a>
                    </li>
                    <li><a [routerLink]="['Catalog']">Pants</a>
                    </li>
                    <li><a [routerLink]="['Catalog']">Accessories</a>
                    </li>
                </ul>
            </li>
            <li>
                <a [routerLink]="['Catalog']">Kids  <span class="badge pull-right">11</span></a>
                <ul>
                    <li><a [routerLink]="['Catalog']">T-shirts</a>
                    </li>
                    <li><a [routerLink]="['Catalog']">Skirts</a>
                    </li>
                    <li><a [routerLink]="['Catalog']">Pants</a>
                    </li>
                    <li><a [routerLink]="['Catalog']">Accessories</a>
                    </li>
                </ul>
            </li>

        </ul>

    </div>
</div>
